<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="index_container">
      <%- include('./partials/header') %>
      <div class="content">
        <% for(let i = 0; i < all_messages.length; i++) {%>
        <div class="message_container">
          <div class="left_section">
            <h1><%= all_messages[i].title %></h1>
            <p><%= all_messages[i].message_content %></p>
            <h5><%= all_messages[i].date %></h5>
          </div>
          <div class="right_section">
            <% if(user === all_messages[i].author.username) {%>
            <form action="/delete_message" method="post">
              <input type="hidden" name="message_id" value=<%= all_messages[i].id %>>
              <button class="delete_message">Delete</button>
            </form>
            <% } %>
            <h3>From <%= all_messages[i].author.username %></h3>
          </div>
        </div>
        <% } %>
      </div>
    </div>
  </body>
</html>
